---
---
$header-heading-color: #fff !default;
$header-bg-color: #4e0323 !default;
$header-bg-color-secondary: #BB2D40 !default;


@import "{{ site.theme }}";

.description-anchor:link {
    color: $header-heading-color;
    opacity: 0.7;
    text-decoration: underline;
}
  
.description-anchor:visited {
    color: $header-heading-color;
    opacity: 0.7;
    text-decoration: underline;
}
  
description-anchor:hover {
    color: $header-heading-color;
    opacity: 0.7;
    text-decoration: underline;
}
  
description-anchor:active {
    color: $header-heading-color;
    opacity: 0.7;
    text-decoration: underline;
}