---
---
$header-heading-color: #fff !default;
$header-bg-color: #f7df1e !default;
$header-bg-color-secondary: #BB2D40 !default;


@import "{{ site.theme }}";

.description-anchor:link {
    color: $section-headings-color;
    opacity: 0.7;
    text-decoration: underline;
}
  
.description-anchor:visited {
    color: $section-headings-color;
    opacity: 0.7;
    text-decoration: underline;
}
  
description-anchor:hover {
    color: $section-headings-color;
    opacity: 0.7;
    text-decoration: underline;
}
  
description-anchor:active {
    color: $section-headings-color;
    opacity: 0.7;
    text-decoration: underline;
}